.ClassOne{
  background-color:#0099cc;
  color: white;
  font-family:Century Gothic;
  font-size:30pt;
padding:10pt;
}
.ClassTwo{
background-color:black;
  color: white;
  font-family:arial;
  font-size:12pt;
padding: 7pt;
padding-right:22pt;
 position:relative;
top:-30pt;
}
.Table{
font-family:Segoe UI Symbol;
font-size:15px;
border:0px solid black;
border-width:0.7pt;
border-spacing:10pt;
margin-left:30pt;
width:60%;
text-shadow:0.5px 0.4px;
margin-top: -20pt;
padding:-5pt;
}
.ClassThree
{
font-family:corbel;
font-size:100%;
font-weight:500;
text-shadow:0.5px 0.4px;
font-width:60%;
margin-top:20pt;
}